@import "tailwindcss";

@theme {
  --color-primary: #5B86E5;
  --color-accent: #2ecc71;
  --font-sans: 'Nunito', sans-serif;
  --font-serif: 'Nunito', sans-serif;
}

*, *::before, *::after {
  font-family: 'Nunito', sans-serif !important;
}

body {
  background-color: #f4f7fa;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}
